.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 0px ;
  width: 300px;
} 

.title {
  text-align: center ;
  font-weight: bold ;
  margin-bottom: 30px;
} 
