.header{
    max-width: 1440px;
    width: 100%;
    background-color: #759cd8;
    height: 100px;
}

.header h1{
    padding: 25px 25px 25px 25px;
}

.header a{
    text-decoration: none;
    color: white;
    transition: .2s;
}

.header a:hover{
    color: #cfdaec;
}

.button_in{
    float: right;
}